.about__text {
	@include bp(md) {
		margin: 2.5em 0;
		text-align: left;
		padding-right: gutter();
		@include span(7 of 12);
	}
}

.about__image {
	text-align: center;
	@include bp(md) {
		margin: 2.5em 0;
		@include span(5 of 12 last);
	}
	figcaption {
		text-align: left;
		margin-top: 1em;
		@include font-size(18px);
		font-family: $text__family--serif;
		font-weight: $text__weight;
	}
}