.about__text {
	@include bp(md) {
		text-align: left;
		padding-right: gutter();
		@include span(7 of 12);
	}
}

.about__image {
	text-align: center;
	@include bp(md) {
		@include span(5 of 12 last);
	}
}