@mixin grid__container($containerWidth) {
	@include container($containerWidth);
}

.article {
	margin: 5em 0 2.5em 0;
	padding: 2.5em 2.5em 5em;
	@include bp(lg) {
		padding: 2.5em 0;
	}
	.wrapper {
		@include bp(lg) {
			@include grid__container(780px);
		}
	}
	p {
		@include font-size(18px);
		line-height: 1.6;
	}
}