%button {
	zoom: 1;
	@include box-sizing(border-box);
	@include font-size(12px);
	@include font($text__family--sans, 400);
	display: inline-block;
	border: $border--base;
	border-radius: $border__radius--base;
	color: $text__color--base;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	background-color: transparent;
	cursor: pointer;
	padding: 0 1.5em;
	height: 48px;
	line-height: 48px;
	&:hover, &:focus {
		color: $text__color--base-dark;
		border-color: $border__color--base-dark;
		outline: 0;
		@include single-transition(all, 0.2s, ease-in-out);
	}
}

%button--small {
	height: 38px;
    line-height: 38px;
    padding: 0 2em;
}

%button--integrated {
	@include bp(md) {
	    position: absolute;
	    right: 0.5em;
	    top: 0.5em;
    }
}

%button--outline-accent {
	border: 1px solid $color--accent;
	color: $color--accent;
	&:hover {
		border: 1px solid $color--accent;
		background-color: $color--accent;
		color: $color--accent-light;
	}
}

%button--solid-accent {
	border: 1px solid $color--accent;
	background-color: $color--accent;
	color: $text__color--base-dark;
	&:hover {
		border: 1px solid $color--accent-dark;
		background-color: $color--accent-dark;
		color: $text__color--soft-light;
	}
}

%button--solid-accent-light {
	border: 1px solid $color--accent-light;
	background-color: $color--accent-light;
	color: $text__color--base-dark;
	&:hover {
		border: 1px solid $color--accent;
		background-color: $color--accent;
		color: $text__color--soft-light;
	}
}

.cta__button {
	@extend %button;
	@extend %button--solid-accent-light;
	@extend %button--integrated;
	@extend %button--small;
}

.feature__button {
	@extend %button;
	@extend %button--outline-accent;
}

.list__button {
	@extend %button;
	@extend %button--outline-accent;
	@extend %button--small;
	margin-top: 2em;
	display: none;
	@include bp(xl) {
		display: inline-block;
	}
}

.search__button {
	@extend %button;
	@extend %button--solid-accent;
	@extend %button--integrated;
	@extend %button--small;
	.search__field:focus + & {
		border: 1px solid $color--accent-light;
		background-color: $color--accent-light;
	}
}

.back__button {
	color: $color--soft-dark;
	display: block;
	@include uppercase(1px);
	@include font-size(14px);
	margin-bottom: 2em;
}