input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

%input {
	height: 48px;
	background-color: $color--white;
	border: $border__base;
	border-radius: $border__radius--base;
	@include box-shadow(none);
	@include box-sizing(border-box);
	font-size: 16px;
	font-size: 1.6rem;
	color: $text__color--base;
	padding: 1.5em;
	vertical-align: middle;
	font-family: $text__family--serif;
	font-weight: $text__weight;
	&:focus {
		outline: none;
		border: $border--base-light;
	}
}

%input--clear {
	background-color: rgba(255,255,255,0.2);
	color: $color--white;
	border: 1px solid rgba(255,255,255,0);
	&:focus {
		border: $border--accent-light;
	}
}

%input--dark {
	background-color: $color--white;
	color: $color--black;
	border: 1px solid rgba(0,0,0,0.4);
	&:focus {
		border: $border--accent-light;
	}
}

%input--outline {
	background-color: transparent;
	color: $color--white;
	border: $border--base;
	&:focus {
		border: $border--base-light;
	}
}

%input--outline-accent {
	background-color: transparent;
	color: $color--white;
	border: $border--accent;
	&:focus {
		border: $border--accent-light;
	}
}

%input--outline-accent-light {
	background-color: transparent;
	color: $color--white;
	border: $border--accent-light;
	&:focus {
		border: $border--base-light;
	}
}

.cta {
	@include background(image-url("home-hero.jpg"));
	background-size: cover;
	background-position: center center;
	position: relative;
}

.cta__overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.85);
	z-index: 1;
}

.cta--order {
	@extend .cta;
}

.cta__heading {
	@include font-size(40px);
	color: $text__color--accent-light;
	text-align: center;
	@include bp(md) {
		display: inline-block;
		float: left;
	}
}

.cta__field {
	display: inline-block;
	position: relative;
}

.cta__caption {
	clear: both;
	@include font-size(16px);
	@include font($text__family--sans,300);
	color: $text__color--soft-light;
	display: block;
	margin-bottom: 1.5em;
}

.cta__hr {
    &-1 {
    	@include bp(md) {
		    float: right;
		    width: -moz-calc(100% - 400px);
		    width: -webkit-calc(100% - 400px);
		    width: calc(100% - 400px);
    	}
    }
    &-1, &-2 {
		@include opacity(0.4);
		border-top: 1px $text__color--accent-light solid;
    }
}

.cta--order .cta__hr {
	&-1 {
    	@include bp(md) {
		    width: -moz-calc(100% - 250px);
		    width: -webkit-calc(100% - 250px);
		    width: calc(100% - 250px);
    	}
    }
}

.cta__form.cta__form {
	@extend %container;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10em 2em;
	position: relative;
	z-index: 2;
	&--contact {
		padding: 2em 2em 0 2em;

		@include bp(lg) {
			padding: 2em 0 0 0;
		}
	}
}

.cta__input.cta__input {
	@extend %input;
	@extend %input--clear;
	width: 100%;
	@include bp(md) {
		width: 700px;
	}
	&--contact {
		@extend %input--dark;
	}
}

.cta__textarea.cta__textarea {
	@extend %input;
	@extend %input--clear;
	width: 100%;
	padding-top: 13px;
	resize: none;
	@include bp(md) {
		width: 700px;
	}
	@include single-transition(height, 0.2s, ease-in);
	&--contact {
		@extend %input--dark;
		&:focus {
			height: 200px;
		}
	}
}

