%hero {
	background-color: #000;
	height: 450px;
	height: 100vh;
	min-height: 450px;
	max-height: 750px;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@include bp(lg) {
		height: 80vh;
	}
}

@mixin grid__container($containerWidth) {
	@include container($containerWidth);
}

.hero {
	@extend %hero;
	&--home {
		@include background(image-url("home-hero.jpg"));
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		.hero__overlay {
			background-color: rgba(0,0,0,0.35);
		}
	}
	&--article {
		.hero__overlay {
			background-color: rgba(0,0,0,0.45);
		}
	}
	&__overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
}

.hero__container {
	@include vertical-align(relative);
	z-index: 2;
	max-width: 780px;
	margin: 0 auto 1.5rem;
}

.hero__title {
	color: $color--accent-light;
}

.hero__date {
	color: $color--accent;
}

%container {
	@include container();
	padding: 2.5em;
	@include bp(lg) {
		padding: 2.5em 0;
		margin: 1.25em 0;
		@include grid__container(960px);
	}
	@include bp(xl) {
		@include grid__container(1170px);
	}
}

.container {
	@extend %container;
}

.content {
	&-nohero {
		padding-top: 6em;
	}
}

.grid {
	margin: 2.5em 0 0 0;
	padding: 0;
	@include bp(lg) {
		padding: 2.5em 0;
	}
	.wrapper {
		@include bp(lg) {
			@include grid__container(960px);
		}
		@include bp(xl) {
			@include grid__container(1170px);
		}
	}
}

.grid__heading-wrapper {
	padding: 0 2.5em;
	@include bp(lg) {
		padding: 0;
	}
}

.grid__heading {
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0.25em;
}

.grid__hr {
	margin: 0 0 2.5em 0;
}

.grid__item {
	margin-bottom: 3em;
	&--small {
		@include gallery(2);
		@include bp(md) {
			@include gallery(1)
		}
	}
	&--medium {
		@include span(12 of 12);
		@include bp(md) {
			@include span(6 of 12);
			&:nth-of-type(2) {
				@include span(6 of 12 last);
			}
		}
	}
	&--large {
		@include span(12 of 12);
	}
	&-heading {
		@include font-size(20px);
	}
	img + &-heading {
		margin-top: 1em;
		margin-bottom: 0;
	}
	&-heading + img {
		margin-top: 1em;
		margin-bottom: 0;
	}
}

.grid__blog-image {
	width: 100%;
	background-size: contain;
	background-position: center
}