.nav {
	position: relative;
	@include bp(lg) {
		height: 100px;
		position: fixed;
	}
	&__logo {
		display: none;
		@include bp(lg) {
			display: block;
			float: left;
			margin-bottom: 1rem;
		}
	}
	&__links:nth-of-type(1) {
		margin-bottom: 1rem;
	}
	&__wrapper {
		text-align: center;
		width: 100%;
		position: absolute;
		padding-top: 6em;
		visibility: hidden;
		@include box-sizing(border-box);
		@include opacity(0);
		.nav__links {
			list-style-type: none;
			li {
				margin-bottom: 1.5em;
			}
			li a {
				text-transform: uppercase;
				letter-spacing: 2px;
				line-height: 1.8;
				@include font-size(24px);
				@include font($text__family--sans, 400);
				color: $text__color--soft;
				&:hover {
					color: $text__color--soft-light;
				}
			}
		}
		@include bp(lg) {
			visibility: visible;
			padding-top: 2em;
			@include opacity(1);
			.nav__links {

				&:nth-of-type(1) {
					float: left;
					margin-left: 2em;
				}
				&:nth-of-type(2) {
					float: right;
					margin-right: 0.5em;
				}
			}
			.nav__links li {
				display: inline-block;
				margin: 0 4em 0 0;
			}
			.nav__links li a {
				@include font-size(16px);
			}
		}
	}
	&__trigger {
	    @extend %visuallyhidden;
	    &:checked + label {
	    	position: fixed;
	    	&:after {
	    		@include rotate(45deg);
	    		top: 1.4em;
	    	}
	    	&:before {
	    		@include rotate(-45deg);
	    		top: 1.4em;
	    	}
	    	& .nav__hamburger {
		    	@include opacity(0);
		    }
		    @include bp(lg) {
				display: none;
		    }
	    }
	    &:checked + label + .nav__wrapper {
			z-index: 99;
			visibility: visible;
			background-color: rgba(0,0,0,0.75);
			@include opacity(1);
			@include single-transition(all, 0.4s, ease-in-out, 0.15s);
	    }
	}
	&__hamburger {
		@include opacity(1);
		width: 30px;
		height: 4px;
		position: absolute;
		top: 1.25em;
		left: 0;
		background: $color--white;
		z-index: 20;
		@include single-transition(opacity, 0.375s, ease, 0.15s);
	}
}

label[for="nav__trigger"] {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 100;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:before {
		position: absolute;
		top: 0em;
		left: 0em;
		background: $color--white;
		content : "";
		width: 30px;
		height: 4px;
		@include single-transition(all, 0.5s, ease, 0.15s);
    }
    &:after {
		position: absolute;
		top: 2.5em;
		left: 0;
		background: $color--white;
		content : "";
		width: 30px;
		height: 4px;
		@include single-transition(all, 0.5s, ease, 0.15s);
    }
    @include bp(lg) {
		display: none;
    }
}