.nav {
	position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    height: 100vh;
	@include single-transition(background-color,0.3s,ease-in-out);
	@include bp(lg) {
		height: 64px;
		position: fixed;
		&.scrolled {
			z-index: 99;
			background-color: rgba(255,255,255,0.95);
			@include box-shadow(0 0 1px rgba(0,0,0,0.8));
			color: $text__color--base-dark;
			@include single-transition(background-color,0.3s,ease-in-out);
			.nav__links li a {
				color: $text__color--base-dark;
				&:hover {
					color: $text__color--accent-light;
				}
			}
		}
	}
	&__logo {
		display: none;
		@include bp(lg) {
			display: block;
		    float: left;
		    margin: -1rem 2rem 0 2rem;
		    background: url('/assets/img/vinsionaire-logo-sm.svg');
		    background-size: cover;
		    width: 99px;
		    height: 38px;
		}
	}
	&__links:nth-of-type(1) {
		margin-bottom: 1rem;
	}
	&__wrapper {
		text-align: center;
		width: 100%;
		position: absolute;
		padding-top: 6em;
		visibility: hidden;
		@include box-sizing(border-box);
		@include opacity(0);
		@include bp(lg) {
			visibility: visible;
			padding-top: 2em;
			height: 7em;
			@include opacity(1);
		}
	}
	&__links {
			list-style-type: none;
			li {
				margin-bottom: 1.5em;
			}
			li a {
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 2px;
				line-height: 1.8;
				@include font-size(22px);
				@include font($text__family--sans, 300);
				color: $text__color--soft;
				&:hover {
					color: $text__color--accent-light;
				}
			}
			@include bp(lg) {
				&:nth-of-type(1) {
					float: left;
					margin-left: 2em;
				}
				&:nth-of-type(2) {
					float: right;
					margin-right: 0.5em;
				}
				li {
					display: inline-block;
					margin: 0 4em 0 0;
				}
				li a {
					@include font-size(16px);
				}
			}
		}
	&__trigger {
	    @extend %visuallyhidden;
	    &:checked + label {
	    	position: fixed;
	    	&:after {
	    		@include rotate(45deg);
	    		top: 1.4em;
	    	}
	    	&:before {
	    		@include rotate(-45deg);
	    		top: 1.4em;
	    	}
	    	& .nav__hamburger {
		    	@include opacity(0);
		    }
		    @include bp(lg) {
				display: none;
		    }
	    }
	    &:checked + label + .nav__wrapper {
	    	height: 100%;
			z-index: 99;
			visibility: visible;
			background-color: rgba(0,0,0,0.85);
			@include opacity(1);
			@include single-transition(all, 0.4s, ease-in-out, 0.15s);
	    }
	}
	&__hamburger {
		@include opacity(1);
		width: 30px;
		height: 4px;
		position: absolute;
		top: 1.25em;
		left: 0;
		background: $color--white;
		z-index: 20;
		@include single-transition(opacity, 0.375s, ease, 0.15s);
	}
	&--black {
		@include bp(md) {
			.nav__links li a {
				color: $text__color--base-dark;
				&:hover {
					color: $text__color--accent-light;
				}
			}
		}
	}
}

label[for="nav__trigger"] {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    z-index: 100;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:before {
		position: absolute;
		top: 0em;
		left: 0em;
		background: $color--white;
		content : "";
		width: 30px;
		height: 4px;
		@include single-transition(all, 0.5s, ease);
    }
    &:after {
		position: absolute;
		top: 2.5em;
		left: 0;
		background: $color--white;
		content : "";
		width: 30px;
		height: 4px;
		@include single-transition(all, 0.5s, ease);
    }
    @include bp(lg) {
		display: none;
    }
}

.nav--black label[for="nav__trigger"] {
	&:before, &:after {
		background: $color--black;
	}
}

.nav--black .nav__hamburger {
	background: $color--black;
}

.nav--black .nav__trigger:checked + label {
	&:before, &:after {
		background: $color--white;
	}
	.nav__hamburger {
		background: $color--white;
	}
}

.no-svg .nav .nav__logo {
	background: url('/assets/img/vinsionaire-logo-sm.png');
}