%input {
	height: 48px;
	background-color: $color--white;
	border: $border__base;
	border-radius: $border__radius--base;
	@include box-shadow(none);
	@include box-sizing(border-box);
	font-size: 16px;
	font-size: 1.6rem;
	color: $text__color--base;
	padding: 1.5em;
	vertical-align: middle;
	font-family: $text__family--serif;
	font-weight: $text__weight;
	&:focus {
		outline: none;
		border: $border--base-light;
	}
}

%input--clear {
	background-color: rgba(255,255,255,0.2);
	color: $color--white;
	border: 1px solid rgba(255,255,255,0);
	&:focus {
		border: $border--accent-light;
	}
}

%input--outline {
	background-color: transparent;
	color: $color--white;
	border: $border--base;
	&:focus {
		border: $border--base-light;
	}
}

%input--outline-accent {
	background-color: rgba(0,0,0,0.5);
	color: $color--white;
	border: $border--accent;
	&:focus {
		border: $border--accent-light;
	}
}

%input--outline-accent-light {
	background-color: transparent;
	color: $color--white;
	border: $border--accent-light;
	&:focus {
		border: $border--base-light;
	}
}

.search {
	display: inline-block;
	position: relative;
}

.search__field.search__field {
	@extend %input;
	@extend %input--outline-accent;
	width: 100%;
	@include bp(md) {
		width: 700px;
	}
}

.nav__search.nav__search {
	margin: 0;
	display: none;
	@include bp(lg) {
		display: inline-block;
	}
}

.nav__search-box {
	float: right;
	top: 0;
	margin-right: 2em;
	transition: width 0.6s;
	background: transparent;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	font-family: $text__family--serif;
	& + label .icon-search {
		color: $text__color--soft;
	}
	&:hover {
		& + label .icon-search {    
			color: $color--accent-light;
		}
	}
  &:focus {
  	margin-top: -1em;
	@include font-size(12px);
    transition: width 0.6s cubic-bezier(0,1.22,.66,1.39);
    background: rgba(0,0,0,0.45);
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 40px;
    cursor: text;
    width: 200px;
    border-radius: auto;
    color: $text__color--soft;
    & + label .icon-search {
		color: $text__color--soft;
    }
  }
  &:not(:focus) {
	  text-indent:-5000px;
  } // for more-graceful falling back (:not browsers likely support indent)
}

#nav__search-submit {
	position: relative;
	left: -5000px;
}

.icon-search {
	@include font-size(16px);
	position: relative;
	left: 83px;
	color: white;
	cursor: pointer;
}

.hero--search {
	.search {
		margin-bottom: 4em;
	}
	select {
		@extend %input;
		@extend %input--clear;
		padding: 0 1.5em;
		width: auto;
	    border: 1px solid $color--accent;
	    -webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    cursor:pointer;
	    &:active, &:focus {
	    	border: 1px solid $color--accent-light;
	    	+ label:after {
				color: $color--accent-light;
			    border-bottom:1px solid $color--accent-light;
	    	}
	    }
	}

	/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    select {padding-right:45px}
	}

	label {
		position:relative;
		display: none;
		@include bp(lg) {
			display: inline-block;
		    margin-right: 4em;
		    &:last-of-type {
		    	margin-right: 0;
		    }
		}
	}
	label:after {
	    content:'<>';
	    font: 16px "Consolas", monospace;
	    color: $color--accent;
	    -webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	    right:8px; top: 13px;
	    padding:0 0 2px;
	    border-bottom:1px solid $color--accent;
	    position:absolute;
	    pointer-events:none;
	}
	label:before {
	    content:'';
	    right:0; top:0px;
	    width:28px; 
	    height:48px;
	    background: transparent;
	    position:absolute;
	    pointer-events:none;
	}
}
