.wine__description {
	max-width: 780px;
	margin: 0 auto;
	padding: 2.5em 2em 5em 2em;
	line-height: 1.6;
}

.wine {
	padding: 2.5em 2em 5em 2em;
	.wrapper {
		@media only screen and (max-width: 1023px) {
			@include container();
		}
	}
	&__image {
		&--whole {
			@include span(12 of 12);
			height: 0;
			padding: 0 0 100% 0;
			background-size: cover;
			background-position: center;
		}
		&--closeup {
			display: none;
		}
		@include bp(md) {
			&--whole {
				@include span(6 of 12);
				padding: 0 0 60% 0;
			}
			&--closeup {
				display: block;
				height: 0;
				padding: 0 0 60% 0;
				background-size: 300% auto;
				background-position: center;
				@include span(6 of 12 last);
			}
		}
		@include bp(lg) {
			&--whole, &--closeup {
				@include span(4 of 12);
			}
		}
	}
	&__details {
		margin-top: 5em;
		@include span(12 of 12);
		@include bp(lg) {
			padding-left: 2.5em;
			margin-top: 0;
			@include span(4 of 12 last);
		}
	}
	&__detail {
		color: $color--soft-dark;
		@include uppercase(0.5px);
	}
	&__price {
		margin-bottom: 0.375em;
		span {
			@include font-size(12px);
		}
	}
	&__region, &__size {
		color: $color--soft-dark;
		display: block;
		@include uppercase(0.5px);
		@include font-size(10px);
	}
	&__note {
		border-left: 2px $color--accent solid;
		font-weight: bold;
		padding-left: 2.5em;
		margin-top: 2.5em;
		p {
			color: $color--accent;
		}
		footer {
			@include font-size(16px);
			color: $color--accent;
		}
	}
}