/*----------------------------------------
  #BASE STYLES
----------------------------------------*/

html {
	@include box-sizing(border-box);
}

// * {
// 	border: 1px solid red !important;
// }

*, *:before, *:after {
  @include box-sizing(inherit);
}

::-webkit-scrollbar { width: 0 !important }

html, 
body {
	width: 100%;
	font-family: $text__family--sans;
	font-size: $text__size--base;
	line-height: $text__line-height--base;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: $text__family--serif;
	font-weight: $text__weight;
	line-height: $text__line-height--heading;
	margin-bottom: 2.5rem;
}

h1 {
	font-size: 40px;
	font-size: 4rem;
}

h2 {
	font-size: 32px;
	font-size: 3.2rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

p {
	color: $text__color--base;
	font-size: 16px;
	font-size: 1.6rem;
}

a {
	color: $text__color--accent;
	&:hover {
		color: $text__color--accent-light;
	}
}

ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }

hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: $border--base;
}

// Spacing

button {
	margin-bottom: 1rem; 
}

input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem; 
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
}

.wrapper {
	@include container;
}
