/*----------------------------------------
  #GLOBAL VARIABLES
----------------------------------------*/
// Colors
$color--white: #f9f9f9;
$color--black: #000;

$color--primary: #222;
$color--primary-light: lighten($color--primary, 8%);
$color--primary-dark: darken($color--primary, 15%);

$color--accent-light: #F8D3B7;
$color--accent: #9C8675;

$color--soft: #D4D3D3;
$color--soft-light: #E0E0E0;
$color--soft-dark: #9B9B9B;

// Fonts
$text__family--serif: 'Playfair Display', Georgia, serif;
$text__family--sans: 'Muli', Helvetica, sans-serif;

$text__size--base: 62.5%;

// Font Colors
$text__color: $color--primary;
$text__color--base: $color--primary;
$text__color--base-dark: $color--primary-dark;
$text__color--accent: $color--accent;
$text__color--accent-light: $color--accent-light;
$text__color--soft: $color--soft;
$text__color--soft-light: $color--soft-light;

// Font Weights
$text__weight--light: 300;
$text__weight: 400;
$text__weight--bold: 900;

// Line Height
$text__line-height--base: 1.4;
$text__line-height--heading: 1.2;

// Other Sizes
$z-index--under: 0;
$z-index--base: 1;
$border__radius--base: 0.8em;
$spacing--base: $text__line-height--base * 1em;
$spacing--small: $spacing--base / 2;

// Border
$border__color--base: $color--soft;
$border__color--base-dark: $color--soft-dark;
$border--base: 1px solid $border__color--base;

// Background Colors
$background__color--base: $color--white;

