html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*----------------------------------------
  #GLOBAL VARIABLES
----------------------------------------*/
/*----------------------------------------
  #BASE STYLES
----------------------------------------*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  line-height: 1.4; }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 900;
  line-height: 1.2; }

h1 {
  font-size: 40px;
  font-size: 4rem; }

h2 {
  font-size: 32px;
  font-size: 3.2rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 20px;
  font-size: 2rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

p {
  color: #222;
  font-size: 16px;
  font-size: 1.6rem; }

a {
  color: #9C8675; }
  a:hover {
    color: #F8D3B7; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #D4D3D3; }

.wrapper {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%); }

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #D4D3D3;
  height: 48px;
  line-height: 48px;
  border-radius: 0.8em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  padding: 1.5em 3em; }
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover, button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: black;
    border-color: #9B9B9B;
    outline: 0; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 48px;
  background-color: #f9f9f9;
  border: 1px solid #D4D3D3;
  border-radius: 0.8em;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #222;
  padding: 1.5em 3em; }

input[type="email"]:focus, input[type="email"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="search"]:focus,
input[type="search"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  border-color: #9B9B9B;
  outline: 0; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/*----------------------------------------
  #MIXINS
----------------------------------------*/
.nav__trigger, .is-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

.hero {
  background-color: #000;
  height: 450px;
  height: 100vh;
  min-height: 450px;
  max-height: 750px; }
  @media (min-width: 1024px) {
    .hero {
      height: 80vh; } }

.hero__title {
  color: #9C8675;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.nav {
  position: relative; }
  @media (min-width: 1024px) {
    .nav {
      height: 100px;
      position: fixed; } }
  .nav__logo {
    display: none; }
    @media (min-width: 1024px) {
      .nav__logo {
        display: block;
        float: left;
        margin-bottom: 1rem; } }
  .nav__links:nth-of-type(1) {
    margin-bottom: 1rem; }
  .nav__wrapper {
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: 6em;
    visibility: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0); }
    .nav__wrapper .nav__links {
      list-style-type: none; }
      .nav__wrapper .nav__links li {
        margin-bottom: 1.5em; }
      .nav__wrapper .nav__links li a {
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.8;
        font-size: 24px;
        font-size: 2.4rem;
        font-family: "Muli", Helvetica, sans-serif;
        font-weight: 400;
        color: #D4D3D3; }
        .nav__wrapper .nav__links li a:hover {
          color: #E0E0E0; }
    @media (min-width: 1024px) {
      .nav__wrapper {
        visibility: visible;
        padding-top: 2em;
        opacity: 1;
        filter: alpha(opacity=100); }
        .nav__wrapper .nav__links:nth-of-type(1) {
          float: left;
          margin-left: 2em; }
        .nav__wrapper .nav__links:nth-of-type(2) {
          float: right;
          margin-right: 0.5em; }
        .nav__wrapper .nav__links li {
          display: inline-block;
          margin: 0 4em 0 0; }
        .nav__wrapper .nav__links li a {
          font-size: 16px;
          font-size: 1.6rem; } }
  .nav__trigger:checked + label {
    position: fixed; }
    .nav__trigger:checked + label:after {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 1.4em; }
    .nav__trigger:checked + label:before {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 1.4em; }
    .nav__trigger:checked + label .nav__hamburger {
      opacity: 0;
      filter: alpha(opacity=0); }
    @media (min-width: 1024px) {
      .nav__trigger:checked + label {
        display: none; } }
  .nav__trigger:checked + label + .nav__wrapper {
    z-index: 99;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transition: all 0.4s ease-in-out 0.15s;
    -o-transition: all 0.4s ease-in-out 0.15s;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.15s;
    transition: all 0.4s ease-in-out 0.15s; }
  .nav__hamburger {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 30px;
    height: 4px;
    position: absolute;
    top: 1.25em;
    left: 0;
    background: #f9f9f9;
    z-index: 20;
    -moz-transition: opacity 0.375s ease 0.15s;
    -o-transition: opacity 0.375s ease 0.15s;
    -webkit-transition: opacity 0.375s ease;
    -webkit-transition-delay: 0.15s;
    transition: opacity 0.375s ease 0.15s; }

label[for="nav__trigger"] {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 100;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  label[for="nav__trigger"]:before {
    position: absolute;
    top: 0em;
    left: 0em;
    background: #f9f9f9;
    content: "";
    width: 30px;
    height: 4px;
    -moz-transition: all 0.5s ease 0.15s;
    -o-transition: all 0.5s ease 0.15s;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0.15s;
    transition: all 0.5s ease 0.15s; }
  label[for="nav__trigger"]:after {
    position: absolute;
    top: 2.5em;
    left: 0;
    background: #f9f9f9;
    content: "";
    width: 30px;
    height: 4px;
    -moz-transition: all 0.5s ease 0.15s;
    -o-transition: all 0.5s ease 0.15s;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0.15s;
    transition: all 0.5s ease 0.15s; }
  @media (min-width: 1024px) {
    label[for="nav__trigger"] {
      display: none; } }

.is-invisible {
  visibility: none !important; }

.is-shown {
  display: block; }

.full-width {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.max-full-width {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.block {
  display: block        !important; }

.inline {
  display: inline       !important; }

.inline-block {
  display: inline-block !important; }

.left {
  float: left  !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left   !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right  !important; }

.mt0 {
  margin-top: 0   !important; }

.mt1 {
  margin-top: 1em !important; }

.mb0 {
  margin-bottom: 0   !important; }

.mb1 {
  margin-bottom: 1em !important; }
